* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
}

.sidebar {
    margin: 0;
    padding: 0;
    width: 250px;
    border-right: 1px solid white;
    background-color: black;
    position: fixed;
    height: 100%;
    overflow: auto;
}
.sidebar img {
    padding: 10px;
    border-radius: 50%;
}
.sidebar a {
    color: white;
    display: block;
    padding: 10px;
    text-align: center;
    text-decoration: none;
}
.sidebar a:hover {
    color: red;
}

.main-page {
    background-color: black;
    margin-left: 250px;
    padding: 0;
    width: calc(100% - 250px);
    position: fixed;
    height: 100%;
    overflow: auto;
}

.blog-header {
    color: white;
    padding: 30px 0px 30px 100px;
}
.blog-title {
    padding: 0px 0px 20px 0px;
    font-size: 20px;
}

.blog-entry-image-box {
}

.post-entry-container {
    margin: 20px 20px 20px 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.post-entry-box {
    margin: 10px 10px 25px 10px;
    width: 430px;
    height: 260px;
    background-color: #77e4ff;
}
.post-entry-content {
    padding: 110px 50px 50px 60px;
}
.post-entry-content a {
    color: black;
    display: block;
    text-decoration: none;
    font-size: 28px;
    font-weight: 350;
}





.post {
    padding: 100px 250px 0px 200px;
}
.post-title {
    margin-bottom: 10px;
}
.post-title-name {
    color: white;
}

.post-content {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}
.post-content * {
    margin: 20px 0px 20px 0px;
}
.post-content :not(.origin) {
    color: white;
    font-weight: normal;
}

.post-content > .origin > .prob-link :hover {
    color: red;
}
